*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 500px;
    border: 0.5rem solid;
    display: flex;
    justify-content:space-between;
    align-items:flex-start;
    background-image: url(a.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    image-resolution: 100%;
    
}
.box{
    height: 54rem;
    width: 5rem;
    color:white;
    background-color:rgb(93, 113, 134);
    text-decoration: none;
    
    
    
    /* text-align: center; */
    /* justify-items: center; */
    /* justify-content: center; */
    /* align-content: center; */
}